.alumnosAusentesBt{
  background-image: url("../img/fondoazul.png");
  display: inline-block;
  border: 2px solid #ccc;
  margin-top: 1%;
  margin-left: 1%;
  display: inline-block;
  width: 20%;
  font-size: 2vw;
}
.alumnosEnclaseBt{
  background-image: url("../img/fondoverde.png");
  display: inline-block;
  border: 2px solid #ccc;
  margin-top: 1%;
  margin-left: 1%;            
  display: inline-block;
  width: 20%;
  font-size: 2vw;
}
.alumnosRetiradosBt{
  background-image: url("../img/fondovioleta.png");
  display: inline-block;
  border: 2px solid #ccc;
  margin-top: 1%;
  margin-left: 1%;            
  display: inline-block;
  width: 20%;
  font-size: 2vw;
}
alumnosAusentesBt a:hover {
    background-color: #555;
    color: white;
} 